.App {
  text-align: center;
  width: 100%;
}

.App-logo {
  height: 40vmin;
}

.d-inline-flex {
  display: inline-flex;
}

.pl-1 {
  padding-left: 5px;
}

table {
  width: 100%;
}

button.primary {
    background: cornflowerblue;
    padding: 15px;
    color: white;
    font-size: 15px;
    font-weight: 600;
}
th, td {
  padding: 5px;
  border: 1px solid black;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #09d3ac;
}
